{% extends 'base.html' %}
{% block content %}
<div class="gridcontents">
  <div class="item1" align=center>
    <div align=left>선수정보<br><div align=center>
        <img src="/static/img/player/실루엣.png" width=222px height=200px></div>

    </div><br>
    Faker
    <div>
      <table border=0 >
        <th></th><tr><td><img src="/static/img/LCK/LCK.png" width=80px height=66px align=center></td><td><img src="/static/img/LCK/T1.png" width=80px height=66px align=center></td><td>출장 횟수</td></tr><tr align=center><td></td><td></td><td>22회</td></tr></table>

    </div>
  </div>
  <div class="item2">
    <div align=center>준비중</div><br>

  </div>
  <div class="item3">
    구단
    <table border=0>
      <th align=center>구단</th><th></th><th></th><th>경기수</th><tr><td>2020</td><td><img src="/static/img/LCK/T1.png" width=80px height=66px align=center></td><td>T1</td><td align=center>97</td></tr>
    </table>

    </table>
  </div>
  <div class="item4">
    <div align=center>
      <table border=0>
        <th></th><tr><td>포지션</td><td>나이</td></tr><tr><td>Mid</td><td>25</td></tr></table>
        <br><br>

      주 챔피언<br>
      <table border=0>
        <th></th><tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr></table>
    </div>

  </div>
  <div class="item5" align=center>
    준비중</div>
  <div class="item6">선수경력 업적
    <table border=0>
      <th align=center>구단</th><th></th><th></th><th></th><tr><td>2020</td><td><img src="/static/img/LCK/T1.png" width=80px height=66px align=center></td><td>T1</td><td align=center>LOL Championship Korea Win</td></tr>
    </table>

  </div>
  <div class="item7"></div>
  <div class="item8" align=center>
    <table border=1><th>대회</th><th>경기</th><th>킬</th><th>도움</th><th>MVP</th><tr><td>LCK</td><td></td><td></td><td></td><td></td></tr><tr><td>MSI</td><td></td><td></td><td></td><td></td></tr><tr><td>Worlds</td><td></td><td></td><td></td><td></td></tr></table>

  </div>
  <div class="item9">
  </div>
</div>
{% endblock %}
