{% extends 'base.html' %}
{% block content %}
<div>
{% if schedule_list %}
<ul>
  <table border=0 width=100%>
    <thead><tr align=left><th width=30%>Date</th><th width=20%>Home</th><th></th><th></th><th></th><th></th><th width=20%>Away</th></thead><tr></tr>
    {%for schedule in schedule_list %}
    <tbody>
      <tr>
        <td>{{ schedule.date }}</td><td>
          {{ schedule.home}}</td><td>{{schedule.homescore}}</td><td>
            {% if schedule.homescore == 2 %}승{% else %}패{% endif %}

          </td><td align=center>
            {% if schedule.awayscore == 2 %}승{% else %}패{% endif %}
          </td><td>{{schedule.awayscore}}</td><td>{{ schedule.away}}</td></tr>

    {% endfor %}
  </tbody></table></ul>
  {% else %}
  <p>스케쥴이 없습니다</p>
  {% endif %}

  {{schedule_list}}
</div>



{% endblock %}
